.header {
  color: rgb(46, 45, 38);
  height: 55px;
  display: flex;
  align-items: center;
  background-color: rgb(15, 17, 17);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  height: 70px;
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 24px;
}
.header__logo1 {
  height: 40px;
  width: 50px;
  object-fit: contain;
  margin-top: 5px;
  margin-right: 10px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}
.haeder__searchInput {
  height: 10px;
  padding: 11px;
  border: none;
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: rgb(228, 162, 63);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
.header__optionLineOne {
  font-size: 12px;
}
.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}
.header__optionBusket {
  color: whitesmoke;
  display: flex;
  align-items: center;
}
.header__basketCount {
  margin: 0 10px;
}
