.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid rgb(226, 212, 212);
  background-color: rgb(200, 243, 230);
  position: relative;
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
.order__total {
  font-weight: 500;
  text-align: right;
}
