.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  padding: 20px;
  background-color: rgb(234, 237, 237);
  border: 1px solid #c5bebe;
  border-radius: 3px;
}
.subtotal > p {
  font-size: 16px;
  font-style: italic;
  font-weight: bolder;
}
.subtotal__gift {
  display: flex;
  align-items: 5px;
}
.subtotal__gift > input {
  margin-top: 3px;
  margin-right: 5px;
}
.subtotal > button {
  background: rgb(236, 173, 56);
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #d3a10a;
  color: black;
}
.subtotal > button:hover {
  color: white;
  background: black;
}
